@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
</div>
<div>
    <p><b>Login:</b><br>
        <input type="text" size="40">
        <br>
    <p><b>Password:</b><br>
        <input type="text" size="40">
        <br>
        <br>
        <button id="logBtn">Submit</button>
</div>